In [5]:
import polars as pl
import csv
import glob

In [6]:
extract_folder = 'extract'

In [7]:
dat_files = glob.glob(f"{extract_folder}/*.DAT")
print(f"Number of .dat files found: {len(dat_files)}")

Number of .dat files found: 19218

In [8]:
df_list = []
df_schema = {
    'Record Type':pl.String(),'District Code':pl.String(),
    'Property Id.':pl.String(),'Sale Counter':pl.String(),
    'Download Datetime':pl.String(),'Property Name':pl.String(),
    'Property Unit Number':pl.String(),'Property House Number':pl.String(),
    'Property Street Name':pl.String(), 'Property Locality':pl.String(),
    'Property Post Code':pl.String(), 'Area':pl.String(),
    'Area Type':pl.String(), 'Contract Date':pl.String(),
    'Settlement Date':pl.String(), 'Purchase Price':pl.String(),
    'Zoning':pl.String(), 'Nature of Property':pl.String(),
    'Primary Purpose':pl.String(), 'Strata Lot Number':pl.String(),
    'Component code':pl.String(), 'Sale Code':pl.String(), 
    '% Interest of Sale':pl.String(), 'Dealing Number':pl.String()
    }

In [9]:
for file in dat_files:
    df = pl.read_csv(file,has_header=False, schema=df_schema, truncate_ragged_lines=True, separator=';', new_columns=['Record Type','District Code','Property Id.','Sale Counter','Download Datetime','Property Name','Property Unit Number','Property House Number','Property Street Name', 'Property Locality', 'Property Post Code', 'Area', 'Area Type', 'Contract Date', 'Settlement Date', 'Purchase Price', 'Zoning', 'Nature of Property', 'Primary Purpose', 'Strata Lot Number', 'Component code', 'Sale Code', '% Interest of Sale', 'Dealing Number'])
    df_list.append(df)

ComputeError: could not parse `"DARGONDAL;PINEVIEW RD;BURROWAY;2821;222;H;20210415;20210527;760000;RU1;3;FARM;;RRN;;0;AR87422;
C;251;3668696;4;20210531 01:06;880/1180749;
D;251;3668696;4;20210531 01:06;P;;;;;;
D;251;3668696;4;20210531 01:06;V;;;;;;
B;251;4364678;5;20210531 01:06;BUDDAHGLEN;;1584;WARREN RD;NARROMINE;2821;107.6;H;20130619;20210422;84277;;V;VACANT LAND;;;;0;AR57736;
C;251;4364678;5;20210531 01:06;1/1202908;
D;251;4364678;5;20210531 01:06;P;;;;;;
D;251;4364678;5;20210531 01:06;V;;;;;;
B;251;4353434;6;20210531 01:06;;;125;OLD BACKWATER RD;NARROMINE;2821;2.413;H;20200811;20210521;125000;R1;V;VACANT LAND;;NRM;;0;AR69645;
C;251;4353434;6;20210531 01:06;200/1271666;
D;251;4353434;6;20210531 01:06;P;;;;;;
D;251;4353434;6;20210531 01:06;V;;;;;;
Z;30;6;6;16;
` as dtype `str` at column 'Property House Number' (column number 8)

The current offset in the file is 33 bytes.

You might want to try:
- increasing `infer_schema_length` (e.g. `infer_schema_length=10000`),
- specifying correct dtype with the `schema_overrides` argument
- setting `ignore_errors` to `True`,
- adding `"DARGONDAL;PINEVIEW RD;BURROWAY;2821;222;H;20210415;20210527;760000;RU1;3;FARM;;RRN;;0;AR87422;
C;251;3668696;4;20210531 01:06;880/1180749;
D;251;3668696;4;20210531 01:06;P;;;;;;
D;251;3668696;4;20210531 01:06;V;;;;;;
B;251;4364678;5;20210531 01:06;BUDDAHGLEN;;1584;WARREN RD;NARROMINE;2821;107.6;H;20130619;20210422;84277;;V;VACANT LAND;;;;0;AR57736;
C;251;4364678;5;20210531 01:06;1/1202908;
D;251;4364678;5;20210531 01:06;P;;;;;;
D;251;4364678;5;20210531 01:06;V;;;;;;
B;251;4353434;6;20210531 01:06;;;125;OLD BACKWATER RD;NARROMINE;2821;2.413;H;20200811;20210521;125000;R1;V;VACANT LAND;;NRM;;0;AR69645;
C;251;4353434;6;20210531 01:06;200/1271666;
D;251;4353434;6;20210531 01:06;P;;;;;;
D;251;4353434;6;20210531 01:06;V;;;;;;
Z;30;6;6;16;
` to the `null_values` list.

Original error: ```invalid csv file

Field `"DARGONDAL;PINEVIEW RD;BURROWAY;2821;222;H;20210415;20210527;760000;RU1;3;FARM;;RRN;;0;AR87422;
C;251;3668696;4;20210531 01:06;880/1180749;
D;251;3668696;4;20210531 01:06;P;;;;;;
D;251;3668696;4;20210531 01:06;V;;;;;;
B;251;4364678;5;20210531 01:06;BUDDAHGLEN;;1584;WARREN RD;NARROMINE;2821;107.6;H;20130619;20210422;84277;;V;VACANT LAND;;;;0;AR57736;
C;251;4364678;5;20210531 01:06;1/1202908;
D;251;4364678;5;20210531 01:06;P;;;;;;
D;251;4364678;5;20210531 01:06;V;;;;;;
B;251;4353434;6;20210531 01:06;;;125;OLD BACKWATER RD;NARROMINE;2821;2.413;H;20200811;20210521;125000;R1;V;VACANT LAND;;NRM;;0;AR69645;
C;251;4353434;6;20210531 01:06;200/1271666;
D;251;4353434;6;20210531 01:06;P;;;;;;
D;251;4353434;6;20210531 01:06;V;;;;;;
Z;30;6;6;16;
` is not properly escaped.```

In [10]:
for df in df_list:
  df = df.filter(pl.col("Record Type") == "B")

In [11]:
df_combined = pl.concat(df_list)

In [12]:
df_combined = df_combined.filter(pl.col("Record Type") == "B")

In [13]:
output_file = "./unclean.csv"

# Export DataFrame to CSV
df_combined.write_csv(output_file)

In [14]:
df_combined.head()

shape: (5, 24)
┌────────┬─────────────┬─────────────┬─────────┬───┬─────────────┬──────┬─────────────┬────────────┐
│ Record ┆ District    ┆ Property    ┆ Sale    ┆ … ┆ Component   ┆ Sale ┆ % Interest  ┆ Dealing    │
│ Type   ┆ Code        ┆ Id.         ┆ Counter ┆   ┆ code        ┆ Code ┆ of Sale     ┆ Number     │
│ ---    ┆ ---         ┆ ---         ┆ ---     ┆   ┆ ---         ┆ ---  ┆ ---         ┆ ---        │
│ str    ┆ str         ┆ str         ┆ str     ┆   ┆ str         ┆ str  ┆ str         ┆ str        │
╞════════╪═════════════╪═════════════╪═════════╪═══╪═════════════╪══════╪═════════════╪════════════╡
│ B      ┆ 238         ┆ 2633079     ┆ 1       ┆ … ┆ AAD         ┆ null ┆ 0           ┆ AR836136   │
│ B      ┆ 238         ┆ 2632607     ┆ 1       ┆ … ┆ AAA         ┆ null ┆ 0           ┆ AR229722   │
│ B      ┆ 226         ┆ 3487133     ┆ 1       ┆ … ┆ CAM         ┆ null ┆ 0           ┆ AS189239   │
│ B      ┆ 226         ┆ 4162632     ┆ 2       ┆ … ┆ THI         ┆ null ┆ 0           ┆ AS194253   │
│ B      ┆ 226         ┆ 4189428     ┆ 3       ┆ … ┆ THI         ┆ null ┆ 0           ┆ AS200087   │
└────────┴─────────────┴─────────────┴─────────┴───┴─────────────┴──────┴─────────────┴────────────┘

In [15]:
df_combined = df_combined.with_columns(
    pl.col("Contract Date").str.strptime(pl.Date, "%Y%m%d", strict=False).alias("Contract Date")
)

In [16]:
df_cleaned_col = df_combined.select('District Code',
                            'Property Id.',
                            'Property Name',
                            'Property Unit Number',
                            'Property House Number',
                            'Property Street Name',
                            'Property Locality',
                            'Property Post Code',
                            'Area',
                            'Area Type',
                            'Contract Date',
                            'Settlement Date',
                            'Purchase Price',
                            'Primary Purpose',
                            'Strata Lot Number')

In [17]:
df_cleaned_col = df_cleaned_col.with_columns(pl.col("Area").cast(pl.Float64).alias("Area"))

In [18]:
df_cleaned_col = df_cleaned_col.with_columns(pl.col("Purchase Price").cast(pl.Int64).alias("Purchase Price"))

In [19]:
df_cleaned_col = df_cleaned_col.with_columns(pl.col("Property Id.").cast(pl.Int64).alias("Property Id."))

In [20]:
df_cleaned_col = df_cleaned_col.with_columns(
    pl.col("Settlement Date").str.strptime(pl.Date, "%Y%m%d", strict=False).alias("Settlement Date")
)

In [21]:
df_cleaned_col = df_cleaned_col.with_columns((pl.col("Purchase Price") / pl.col("Area")).alias("Price per Unit Area"))

In [22]:
df_cleaned_col.head()

shape: (5, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ District  ┆ Property  ┆ Property  ┆ Property  ┆ … ┆ Purchase  ┆ Primary   ┆ Strata    ┆ Price    │
│ Code      ┆ Id.       ┆ Name      ┆ Unit      ┆   ┆ Price     ┆ Purpose   ┆ Lot       ┆ per Unit │
│ ---       ┆ ---       ┆ ---       ┆ Number    ┆   ┆ ---       ┆ ---       ┆ Number    ┆ Area     │
│ str       ┆ i64       ┆ str       ┆ ---       ┆   ┆ i64       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆ str       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 238       ┆ 2633079   ┆ null      ┆ null      ┆ … ┆ 199000    ┆ RESIDENCE ┆ null      ┆ 118.3115 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 34       │
│ 238       ┆ 2632607   ┆ null      ┆ null      ┆ … ┆ 95000     ┆ RESIDENCE ┆ null      ┆ 38.74388 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 3        │
│ 226       ┆ 3487133   ┆ null      ┆ null      ┆ … ┆ 990000    ┆ RESIDENCE ┆ null      ┆ 2197.558 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 269      │
│ 226       ┆ 4162632   ┆ null      ┆ null      ┆ … ┆ 1300000   ┆ RESIDENCE ┆ null      ┆ 1623.782 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 163      │
│ 226       ┆ 4189428   ┆ null      ┆ null      ┆ … ┆ 1030000   ┆ RESIDENCE ┆ null      ┆ 2201.795 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 639      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [23]:
df_cleaned_col.n_unique

<bound method DataFrame.n_unique of shape: (81_647, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ District  ┆ Property  ┆ Property  ┆ Property  ┆ … ┆ Purchase  ┆ Primary   ┆ Strata    ┆ Price    │
│ Code      ┆ Id.       ┆ Name      ┆ Unit      ┆   ┆ Price     ┆ Purpose   ┆ Lot       ┆ per Unit │
│ ---       ┆ ---       ┆ ---       ┆ Number    ┆   ┆ ---       ┆ ---       ┆ Number    ┆ Area     │
│ str       ┆ i64       ┆ str       ┆ ---       ┆   ┆ i64       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆ str       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 238       ┆ 2633079   ┆ null      ┆ null      ┆ … ┆ 199000    ┆ RESIDENCE ┆ null      ┆ 118.3115 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 34       │
│ 238       ┆ 2632607   ┆ null      ┆ null      ┆ … ┆ 95000     ┆ RESIDENCE ┆ null      ┆ 38.74388 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 3        │
│ 226       ┆ 3487133   ┆ null      ┆ null      ┆ … ┆ 990000    ┆ RESIDENCE ┆ null      ┆ 2197.558 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 269      │
│ 226       ┆ 4162632   ┆ null      ┆ null      ┆ … ┆ 1300000   ┆ RESIDENCE ┆ null      ┆ 1623.782 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 163      │
│ 226       ┆ 4189428   ┆ null      ┆ null      ┆ … ┆ 1030000   ┆ RESIDENCE ┆ null      ┆ 2201.795 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 639      │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 231       ┆ 4261077   ┆ null      ┆ null      ┆ … ┆ 250000    ┆ RESIDENCE ┆ null      ┆ 123885.0 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 34688    │
│ 231       ┆ 4413408   ┆ null      ┆ null      ┆ … ┆ 894323    ┆ FARM      ┆ null      ┆ 2965.261 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 936      │
│ 231       ┆ 4413411   ┆ null      ┆ null      ┆ … ┆ 727500    ┆ FARM      ┆ null      ┆ 2965.151 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 824      │
│ 231       ┆ 4409088   ┆ null      ┆ null      ┆ … ┆ 2028480   ┆ FARM      ┆ null      ┆ 7907.718 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 337      │
│ 231       ┆ 2609367   ┆ null      ┆ null      ┆ … ┆ 325000    ┆ RESIDENCE ┆ null      ┆ 369.7804 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 07       │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘>

In [24]:
unit_df = df_cleaned_col.filter((pl.col("Property Unit Number") != "null") | (pl.col("Strata Lot Number") != "null"))

In [25]:
unit_df.head()

shape: (5, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ District  ┆ Property  ┆ Property  ┆ Property  ┆ … ┆ Purchase  ┆ Primary   ┆ Strata    ┆ Price    │
│ Code      ┆ Id.       ┆ Name      ┆ Unit      ┆   ┆ Price     ┆ Purpose   ┆ Lot       ┆ per Unit │
│ ---       ┆ ---       ┆ ---       ┆ Number    ┆   ┆ ---       ┆ ---       ┆ Number    ┆ Area     │
│ str       ┆ i64       ┆ str       ┆ ---       ┆   ┆ i64       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆ str       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 226       ┆ 2590173   ┆ null      ┆ 3         ┆ … ┆ 540000    ┆ RESIDENCE ┆ 3         ┆ null     │
│ 226       ┆ 3898044   ┆ null      ┆ null      ┆ … ┆ 702000    ┆ RESIDENCE ┆ 4         ┆ 10800.0  │
│ 275       ┆ 3353071   ┆ null      ┆ 4         ┆ … ┆ 660000    ┆ RESIDENCE ┆ null      ┆ 2550.231 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 839      │
│ 275       ┆ 1223278   ┆ null      ┆ 9         ┆ … ┆ 491500    ┆ RESIDENCE ┆ 9         ┆ null     │
│ 264       ┆ 4240035   ┆ null      ┆ 801       ┆ … ┆ 783000    ┆ RESIDENCE ┆ 34        ┆ null     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [26]:
unit_df_filter = unit_df.filter(pl.col("Primary Purpose").is_in(["UNIT", "RESIDENCE", "HOUSE UNIT", "VACANT LAND"]))

In [27]:
unit_df_filter.head()

shape: (5, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ District  ┆ Property  ┆ Property  ┆ Property  ┆ … ┆ Purchase  ┆ Primary   ┆ Strata    ┆ Price    │
│ Code      ┆ Id.       ┆ Name      ┆ Unit      ┆   ┆ Price     ┆ Purpose   ┆ Lot       ┆ per Unit │
│ ---       ┆ ---       ┆ ---       ┆ Number    ┆   ┆ ---       ┆ ---       ┆ Number    ┆ Area     │
│ str       ┆ i64       ┆ str       ┆ ---       ┆   ┆ i64       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆ str       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 226       ┆ 2590173   ┆ null      ┆ 3         ┆ … ┆ 540000    ┆ RESIDENCE ┆ 3         ┆ null     │
│ 226       ┆ 3898044   ┆ null      ┆ null      ┆ … ┆ 702000    ┆ RESIDENCE ┆ 4         ┆ 10800.0  │
│ 275       ┆ 3353071   ┆ null      ┆ 4         ┆ … ┆ 660000    ┆ RESIDENCE ┆ null      ┆ 2550.231 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 839      │
│ 275       ┆ 1223278   ┆ null      ┆ 9         ┆ … ┆ 491500    ┆ RESIDENCE ┆ 9         ┆ null     │
│ 264       ┆ 4240035   ┆ null      ┆ 801       ┆ … ┆ 783000    ┆ RESIDENCE ┆ 34        ┆ null     │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [28]:
output_file2 = "./units.csv"

unit_df_filter.write_csv(output_file2)

In [29]:
house_df = df_cleaned_col.filter(pl.col("Property Unit Number").is_null() & pl.col("Strata Lot Number").is_null())

In [30]:
house_df.head()

shape: (5, 16)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ District  ┆ Property  ┆ Property  ┆ Property  ┆ … ┆ Purchase  ┆ Primary   ┆ Strata    ┆ Price    │
│ Code      ┆ Id.       ┆ Name      ┆ Unit      ┆   ┆ Price     ┆ Purpose   ┆ Lot       ┆ per Unit │
│ ---       ┆ ---       ┆ ---       ┆ Number    ┆   ┆ ---       ┆ ---       ┆ Number    ┆ Area     │
│ str       ┆ i64       ┆ str       ┆ ---       ┆   ┆ i64       ┆ str       ┆ ---       ┆ ---      │
│           ┆           ┆           ┆ str       ┆   ┆           ┆           ┆ str       ┆ f64      │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 238       ┆ 2633079   ┆ null      ┆ null      ┆ … ┆ 199000    ┆ RESIDENCE ┆ null      ┆ 118.3115 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 34       │
│ 238       ┆ 2632607   ┆ null      ┆ null      ┆ … ┆ 95000     ┆ RESIDENCE ┆ null      ┆ 38.74388 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 3        │
│ 226       ┆ 3487133   ┆ null      ┆ null      ┆ … ┆ 990000    ┆ RESIDENCE ┆ null      ┆ 2197.558 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 269      │
│ 226       ┆ 4162632   ┆ null      ┆ null      ┆ … ┆ 1300000   ┆ RESIDENCE ┆ null      ┆ 1623.782 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 163      │
│ 226       ┆ 4189428   ┆ null      ┆ null      ┆ … ┆ 1030000   ┆ RESIDENCE ┆ null      ┆ 2201.795 │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ 639      │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [31]:
output_file3 = "./house.csv"

house_df.write_csv(output_file3)